body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

* {
  box-sizing: border-box;
}

#packages-ul .package-cell .tags-section, #main-content #nav-bar .img_lib_cell .tags-section, #main-content #nav-bar .bdv_cell .tags-section {
  display: flex;
  width: 100%;
  justify-content: center;
}
#packages-ul .package-cell .tags-section .tag-list, #main-content #nav-bar .img_lib_cell .tags-section .tag-list, #main-content #nav-bar .bdv_cell .tags-section .tag-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  -moz-column-gap: 2%;
       column-gap: 2%;
  row-gap: 2vh;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
#packages-ul .package-cell .tags-section .tag-list li, #main-content #nav-bar .img_lib_cell .tags-section .tag-list li, #main-content #nav-bar .bdv_cell .tags-section .tag-list li {
  display: flex;
  -moz-column-gap: 1vw;
       column-gap: 1vw;
  border-radius: 10px;
  height: 5vh;
}
#packages-ul .package-cell .tags-section .tag-list li a, #main-content #nav-bar .img_lib_cell .tags-section .tag-list li a, #main-content #nav-bar .bdv_cell .tags-section .tag-list li a {
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 1vw;
       column-gap: 1vw;
  padding: 0;
  margin: 0;
  color: inherit;
  text-decoration: none;
  letter-spacing: 1px;
  font-weight: normal;
}
#packages-ul .package-cell .tags-section .tag-list li img, #main-content #nav-bar .img_lib_cell .tags-section .tag-list li img, #main-content #nav-bar .bdv_cell .tags-section .tag-list li img {
  max-height: 30%;
  width: auto;
  -o-object-fit: contain;
     object-fit: contain;
  padding: 0;
  margin: 0;
}
#packages-ul .package-cell .tags-section .tag-list .single-option-tag, #main-content #nav-bar .img_lib_cell .tags-section .tag-list .single-option-tag, #main-content #nav-bar .bdv_cell .tags-section .tag-list .single-option-tag, #packages-ul .package-cell .tags-section .tag-list .multiple-option-tag, #main-content #nav-bar .img_lib_cell .tags-section .tag-list .multiple-option-tag, #main-content #nav-bar .bdv_cell .tags-section .tag-list .multiple-option-tag {
  border-radius: 20px;
  transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
#packages-ul .package-cell .tags-section .tag-list .single-option-tag:hover, #main-content #nav-bar .img_lib_cell .tags-section .tag-list .single-option-tag:hover, #main-content #nav-bar .bdv_cell .tags-section .tag-list .single-option-tag:hover, #packages-ul .package-cell .tags-section .tag-list .multiple-option-tag:hover, #main-content #nav-bar .img_lib_cell .tags-section .tag-list .multiple-option-tag:hover, #main-content #nav-bar .bdv_cell .tags-section .tag-list .multiple-option-tag:hover {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25), 0px 4px 8px rgba(0, 0, 0, 0.25);
}
#packages-ul .package-cell .tags-section .tag-list .multiple-option-tag, #main-content #nav-bar .img_lib_cell .tags-section .tag-list .multiple-option-tag, #main-content #nav-bar .bdv_cell .tags-section .tag-list .multiple-option-tag {
  position: relative;
}
#packages-ul .package-cell .tags-section .tag-list .multiple-option-tag ul, #main-content #nav-bar .img_lib_cell .tags-section .tag-list .multiple-option-tag ul, #main-content #nav-bar .bdv_cell .tags-section .tag-list .multiple-option-tag ul {
  margin-top: 1vh;
  background-color: lightgray;
  border-radius: 10px;
  position: absolute;
  top: 100%;
  left: 0;
  padding: 0;
  list-style-type: none;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
#packages-ul .package-cell .tags-section .tag-list .multiple-option-tag ul, #main-content #nav-bar .img_lib_cell .tags-section .tag-list .multiple-option-tag ul, #main-content #nav-bar .bdv_cell .tags-section .tag-list .multiple-option-tag ul {
  display: none;
}
#packages-ul .package-cell .tags-section .tag-list .multiple-option-tag ul:before, #main-content #nav-bar .img_lib_cell .tags-section .tag-list .multiple-option-tag ul:before, #main-content #nav-bar .bdv_cell .tags-section .tag-list .multiple-option-tag ul:before {
  content: "";
  display: block;
  height: 1vh;
  position: absolute;
  top: -1vh;
  width: 100%;
}
#packages-ul .package-cell .tags-section .tag-list .multiple-option-tag:hover ul, #main-content #nav-bar .img_lib_cell .tags-section .tag-list .multiple-option-tag:hover ul, #main-content #nav-bar .bdv_cell .tags-section .tag-list .multiple-option-tag:hover ul {
  display: flex;
}

#main-content {
  display: flex;
  align-items: center;
  flex-direction: column;
}
#main-content #nav-bar {
  display: flex;
  width: 70%;
  align-items: flex-start;
  padding-bottom: 5vh;
  border-bottom: solid 1px lightgray;
}
#main-content #nav-bar .img_lib_cell, #main-content #nav-bar .bdv_cell {
  display: flex;
  width: 50%;
  flex-direction: column;
  padding: 20px;
  /* Shadow */
  justify-content: center;
}
#main-content #nav-bar .img_lib_cell img, #main-content #nav-bar .bdv_cell img {
  max-width: 100px;
  max-height: 100px;
  width: 100px;
  height: auto;
}
#main-content #nav-bar .img_lib_cell .header, #main-content #nav-bar .bdv_cell .header {
  display: flex;
  flex-direction: row;
  align-items: center;
}
#main-content #nav-bar .img_lib_cell .tags-section .tag-list li a, #main-content #nav-bar .bdv_cell .tags-section .tag-list li a {
  white-space: nowrap;
}

#search-bar {
  display: flex;
  align-items: center;
  width: 70%;
  height: 8vh;
  margin-top: 2vh;
  border: solid 2px lightgray;
  border-radius: 10px;
  padding-left: 70px;
  font-size: large;
  background-image: url("/Assets/Icons/search_icon.svg");
  background-repeat: no-repeat;
  background-size: auto 50%;
  background-position: 2vh; /* Safari */
  position: sticky;
  top: 0;
}

.filter-area {
  margin-top: 2vh;
}

#packages-ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
#packages-ul li {
  display: flex;
  justify-content: center;
}
#packages-ul .package-cell {
  display: flex;
  width: 70%;
  margin-top: 2vh;
  -moz-column-gap: 1vw;
       column-gap: 1vw;
  /* display: 70%;
  display: flex;
  column-gap: 2vw; */
  flex-direction: column;
  /* Shadow */
}
#packages-ul .package-cell .content {
  display: flex;
  width: 100%;
  -moz-column-gap: 2vw;
       column-gap: 2vw;
  padding: 20px;
}
#packages-ul .package-cell .content #text-section {
  display: flex;
  width: 100%;
  flex-direction: column;
}
#packages-ul .package-cell .content #text-section #title {
  display: flex;
  width: 100%;
}
#packages-ul .package-cell .content #text-section #subtitle {
  display: flex;
  width: 100%;
  color: rgb(161, 161, 161);
  font-style: italic;
}
#packages-ul .package-cell .content #text-section #description-text {
  display: flex;
  width: 100%;
  line-height: 1.7;
}
#packages-ul .package-cell img {
  max-width: 200px;
  max-height: 200px;
  width: 200px;
  height: auto;
}
#packages-ul .package-cell .tags-section {
  align-items: center;
  padding: 3vw;
  height: auto;
  border-radius: 0px 0px 10px 10px;
}
#packages-ul .package-cell .tags-section .tag-list .single-option-tag, #packages-ul .package-cell .tags-section .tag-list .multiple-option-tag {
  background-color: #f3f3f3;
  height: 5vh;
}
#packages-ul .package-cell {
  transition: all 0.3s ease-in-out;
}
#packages-ul .package-cell.visible {
  opacity: 1;
  margin-top: 20px;
}
#packages-ul .package-cell.hidden {
  opacity: 0;
  max-height: 0;
  margin-top: 0;
  padding: 0;
  border: none;
}

@media screen and (max-width: 650px) {
  #search-bar {
    font-size: small;
  }
  h1 {
    font-size: large;
  }
  #packages-ul {
    width: 70%;
  }
  #packages-ul .package-cell {
    display: flex;
    width: 100%;
  }
  #packages-ul .package-cell .main-cell {
    display: flex;
    width: 100%;
  }
  #packages-ul .package-cell .main-cell .content {
    display: flex;
    width: 100%;
    flex-direction: column;
  }
  #packages-ul .package-cell .main-cell .content #text-section {
    display: flex;
    width: 100%;
  }
  #packages-ul .package-cell .main-cell img {
    max-width: 100px;
    max-height: 100px;
    width: 100px;
    height: auto;
  }
  #packages-ul .package-cell .main-cell .tags-section ul {
    display: flex;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    margin: 0;
    padding: 5px;
  }
  #packages-ul .package-cell .main-cell .tags-section ul li {
    white-space: nowrap;
  }
}/*# sourceMappingURL=styles.css.map */