body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

* {
    box-sizing: border-box;
}


#main-content {
    display: flex;
    align-items: center;
    flex-direction: column;

    #nav-bar {
        display: flex;
        width: 70%;
        align-items: center;
        border-bottom: solid 1px lightgray;
    
        img {
            max-width: 4vw;
            height: auto;
        }
    }
}

#search-bar {
    display: flex;
    align-items: center;

    width: 70%;
    height: 8vh;
    margin-top: 2vh;
    border: solid 2px lightgray;
    border-radius: 10px;
    padding-left: 5vw;

    font-size: large;

    background-image: url('/Assets/Icons/search_icon.svg');
    background-repeat: no-repeat;
    background-size: 4vh auto;
    background-position: 2vh;

    // Makes the search bar sticky
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}


#packages-ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
    padding: 0;
    margin: 0;


    li {
        display: flex;
        justify-content: center;
        // margin-bottom: 5vh;
    }

    .package-cell {
        display: flex;
        width: 70%;
        margin-top: 2vh;
        column-gap: 1vw;
    
        .main-cell {
            /* display: 70%;
            display: flex;
            column-gap: 2vw; */
            display: flex;
            flex-direction: column;
            width: 100%;
        
            /* Shadow */
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* sets the box-shadow */
            background-color: white;
            border-radius: 10px;
    
            .content {
                display: flex;
                width: 100%;
                column-gap: 2vw;
                padding: 20px;
                    
                #text-section {
                    display: flex;
                    width: 100%;
                    flex-direction: column;
    
                    #title {
                        display: flex;
                        width: 100%;
        
                    }
        
                    #subtitle {
                        display: flex;
                        width: 100%;
                        color: rgb(161, 161, 161);
                        font-style: italic;
                    }
                    
                    #description-text {
                        display: flex;
                        width: 100%;
                        line-height: 1.7;
                        background-color: blue;
                    }
        
                }
            }
    
            img {
                max-width: 100px;
                max-height: 100px;
                width: 100px;
                height: auto;
            }
            
    
            .tags-section {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 3vw;
                height: auto;
                width: 100%;
                border-radius: 0px 0px 10px 10px;
    
                ul {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    width: 100%;

                    column-gap: 2%;
                    row-gap: 2vh;
                    list-style-type: none;
                    padding: 0;
                    margin: 0;
    
                    li {
                        display: flex;
                        column-gap: 1vw;
                        border-radius: 10px;
                        // padding: 0 1% 0 1%;

                        a {
                            display: flex;
                            justify-content: center;
                            align-items: center;

                            column-gap: 1vw;
                            padding: 0;
                            margin: 0;

                            color: inherit;
                            text-decoration: none;
                            letter-spacing: 1px;
                            font-weight: normal;
                        }
    
                        img {
                            max-height: 50%;
                            width: auto;
                            object-fit: contain;
                            padding: 0;
                            margin: 0;
                            // border: solid 1px red;
                        }
                    }

                    li {
                        background-color: #f3f3f3;
                        border-radius: 5px;
                        box-shadow: 0px 1px 2px rgba(0,0,0,0.15), 0px 2px 4px rgba(0,0,0,0.15);
                        transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
                    }


                    li:hover {
                        background-color: #e0e0e0;
                        box-shadow: 0px 2px 4px rgba(0,0,0,0.25), 0px 4px 8px rgba(0,0,0,0.25);
                    }
                }
            }
        }    
    }


    //Fades the cells away when they are filtrated in search 
    
    .package-cell {
        transition: all 0.3s ease-in-out;
      }
      
      .package-cell.visible {
        opacity: 1;
        margin-top: 20px;
      }
      
      .package-cell.hidden {
        opacity: 0;
        max-height: 0;
        margin-top: 0;
        padding: 0;
        border: none;
      } 
}


@media screen and (max-width: 650px) {

    h1 {
        font-size: large;
    }
    
    #packages-ul {
        width: 70%;

        .package-cell {
            display: flex;
            width: 100%;
    
            .main-cell {
                display: flex;
                width: 100%;
                // background-color: blue;
        
                .content {
                    display: flex;
                    width: 100%;
                    flex-direction: column;
        
                    #text-section {
                        display: flex;
                        width: 100%;
        
                        #title {
                        }
            
                        #subtitle {
                        }
                        
                        #description-text {
                            // display: none !important; //Removes the text!
                        }
            
                    }
                }
    
                .tags-section {
        
                    ul {
                        display: flex;
                        // flex-wrap: nowrap;
                        overflow-x: auto;
                        -webkit-overflow-scrolling: touch;
                        margin:0;
                        padding: 0;
    
                        li {
                            white-space: nowrap;
    
                            a {
                            }
        
                            img {
                            }
                        }
                    }
                }
            }    
        }
    }
    
}